body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background: url("img/home2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.details {
  width: 100%;
}

/*nav*/
nav {
  float: left;
  width: 100%;
  width: 100%;
  z-index: 1000;
  height: 100%;
}

#menu {
  visibility: hidden;
  background-color: rgba(0,0,0,0.3);
}

#menu a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 45px;
  color: rgba(255,255,255,0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#menu a:hover {
  text-shadow: 2.8px 2.8px #fff;
}

nav ul {
  padding: 0px;
  text-align: center;
  margin-top: 0px;
}
nav li {
  display: block;
}

nav button {
  /* float: right; */
  position: fixed;
  z-index: 10000;
  overflow: hidden;
  margin: 45px 45px;
  padding: 0;
  width: 45px;
  right: 0px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: 1.2px solid rgba(255,255,255,0.3);
  cursor: pointer;
  transition: background 0.3s;
  visibility: hidden;
  background: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

nav button:focus, nav button:hover {
  border: 1.2px solid rgba(255,255,255,0.9);
  outline: none;
  box-shadow: none;

}

nav button span {
  display: block;
  position: absolute;
  top: 21px;
  left: 15px;
  right: 15px;
  height: 1.4px;
  background: rgba(255,255,255,0.9);
}

nav button span::before,
nav button span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1.4px;
  background-color: rgba(255,255,255,0.9);
  content: "";
}

nav button span::before {
  top: 7px;
}

nav button span::after {
  bottom: 7px;
}

nav button span {
  transition: background 0s 0.3s;
}

nav button span::before,
nav button span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

nav button span::before {
  transition-property: top, transform;
}

nav button span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
nav button.is-active {
}

nav button.is-active span {
  background: none;
}

nav button.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

nav button.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

nav button.is-active span::before,
nav button.is-active span::after {
  transition-delay: 0s, 0.3s;
}

#logo-wrap {
  width: 60px;
  height: 60px;
  margin: 25px 55px;
  position: fixed;
  opacity: 0.6;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  transition: all 0.3;
  z-index: 10000;
}

#logo-wrap:hover {
  opacity: 0.75;
}

#logo {
  width: 60px;
  height: 60px;
  position: absolute;
  visibility: hidden;
  background: url('img/logo.png') no-repeat;
  background-size: contain;
}

/*body sections*/

#home {
  background-position: 0 -90px;
  display: none;
}

.wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.33);
  position: relative;
}

/*home*/
#head-1, #head-2 {
  position: absolute;
  margin-top: 50px;
  left: 140px;
  font-size: 75px;
  color: #222;
  font-weight: 700;
}

#head-2 {
  margin-top: 220px;
  left: auto;
  right: 140px;
}

#name, #menu, #name-intro {
  position: absolute;
  width: 135px;
  height: 135px;
  border: double white;
  border-width: 3px;
  padding: 15px;
  padding-top: 18px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  visibility: hidden;
}

#menu {
  position: fixed;
  z-index: 100000;
}

#name-intro {
  border: none;
  height: 195px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,0.88);
  width: 300px;
}

#name-intro div {
  bottom: 0px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#name-intro span {
  padding: 8px;
}

#name-intro i {
  padding-right: 3px;
}

.down, .up {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  right: 45px;
  bottom: 30px;
  margin: auto;
  color: rgba(0,0,0,0.3);
  font-size: 28px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  text-decoration: none !important;
}

.up {
  bottom: 65px;
}

.down i, .up i {
  padding: 3px;
  background-color: rgba(255,255,255,0.8);
}

.down .mob-only {
  font-size: 13px;
  display: none;
  color: rgba(255,255,255,0.7);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

.down:hover, .up:hover {
  color: rgba(0,0,0,0.6);
}

#name h2 {
  margin: 0px;
  color: rgba(255,255,255,0.9);
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 53px;
  margin-bottom: -8px;
  visibility: hidden;
  padding-right: 12.5px;
}

#name-1 span:nth-child(2) {
  margin-right: -3.5px;
  padding-left: 10px;
}

#name span {
  padding-left: 5px;
}

/*about page*/
#wrap-2 {
  background-color: rgba(0,0,0,0.78);
}

#pic {
  width: 100%;
  text-align: center;
}

#intro #me-img, #intro #img-mask, #intro #dog-img, #intro #toronto-img {
  background-size: 200px;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 30px;
  border-radius: 100%;
  position: relative;
  display: inline;
  background-image: url('img/sam.jpg');
  width: 200px;
  height: 200px;
  visibility: hidden;
}

#intro #img-mask {
  background-image: none;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
}

#intro #toronto-img {
  background-image: url('img/toronto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
}

#intro #dog-img {
  background-image: url('img/coco.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
  background-position: 0 -30px;
}

#me-stuff span {
  margin: 18px;
}

#intro #me-stuff h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 10px;
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  visibility: hidden;
}

#me-details {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  color: rgba(255,255,255,0.55);
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  margin-top: -12px;
  visibility: hidden;
  line-height: 21px;
}

#me-details a, #web-dev p a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  transition: all 0.3;
}

#me-details a:hover, #web-dev p a:hover {
  color: white;
  background-color: rgba(212,238,94, 0.09);
}

#my-passions {
  width: 95%;
  margin: 50px auto 0px;
  visibility: hidden;
}

#my-passions .head {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: rgba(255,255,255,0.75);
}
#my-passions .head i {
  padding-right: 5px;
}
#my-passions p {
  margin-top: 2.3px;
  text-align: center;
  color: rgba(255,255,255,0.42);
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

#web-dev {
  float: left;
  width: 49%;
  height: 100%;
}

#entrepreneur {
  float: right;
  width: 49%;
  height: 100%;
}

/*my work*/
#wrap-3 {
  overflow: hidden;
}
#bg-shape {
  width: 118%;
  height: 70%;
  margin-left: -10%;
  margin-top: 100px;
  -webkit-transform: rotate(-11deg);
  -moz-transform: rotate(-11deg);
  transform: rotate(-11deg);
  background-color: rgba(255,255,255,0.05);
}

/*carousel*/
.projects-wrapper {
  color: rgba(255,255,255,0.8);
  width: 700px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  visibility: hidden;
}

.projects-wrapper .project {
  height: 560px;
  width: 700px !important;
  background-color: rgba(0,0,0,0.45);
  padding: 12px;
  float: left;
  display: inline;
  position: absolute !important;
  top: 0px !important;
  right:  0px !important;
  bottom: 0px !important;
  left: 0px !important;
  margin: auto;
}

.project:focus {
  outline: none;
}

.project .title {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 5px;
}

.project-pics {
  overflow: hidden;
  height: 376px;
  width: 700px;
  margin: 0 auto;
}

.projects-wrapper .slick-prev {
  left: -150px;
}

.projects-wrapper .slick-next {
  right: -150px;
}

.projects-wrapper .slick-prev, .projects-wrapper .slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  font-size: 50px;
  color: rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.projects-wrapper .slick-prev:focus, .projects-wrapper .slick-next:focus {
  outline: none;
}

.project-pics .slick-prev, .project-pics .slick-next {
  display: none !important;
}

.slick-prev i, .slick-next i {
  cursor: pointer;
}

.slick-prev i:hover, .slick-next i:hover {
  color: rgba(255,255,255,0.8);
}

.project .details {
  max-height: 85px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 17px;
  text-align: center;
  color: rgba(255,255,255,0.75);
  padding-top: 8px;
}

.project .site, .project .git {
  display: inline-block;
  padding: 3px;
  text-align: center;
  margin: auto;
}

.project .links a {
  text-decoration: none;
  color: rgba(255,255,255,0.65);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.project .links a:hover {
  color: rgba(255,255,255,0.8);
}

.project .site {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(246,153,99,0.75);
  -moz-box-shadow: 0px 1px 0px 0px rgba(246,153,99,0.75);
  box-shadow: 0px 1px 0px 0px rgba(246,153,99,0.75);
}

.project .git {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(200,236,180,0.75);
  -moz-box-shadow: 0px 1px 0px 0px rgba(200,236,180,0.75);
  box-shadow: 0px 1px 0px 0px rgba(200,236,180,0.75);
}

.links {
  text-align: center;
}

.links span {
  color: rgba(255,255,255,0.4);
}

.paginate {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
}

.slick-dots {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.slick-dots li {
  display: inline;
}

.slick-dots button {
  background: none;
  color: rgba(255,255,255,0.8);
  border: none;
  background-color: rgba(0,0,0,0.3);
  padding: 8px;
  font-size: 15px;
  margin: 0 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.slick-active button {
  background-color: rgba(200,236,180,0.2) !important;
}

.slick-dots button:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.slick-dots button:active, .slick-dots button:focus {
  outline: none;
}

/*contact page*/

#wrap-4 {
  background-color: rgba(0,0,0,0.7);
}

#wrap-4 .head h1 {
  color: rgba(255,255,255,0.8);
  margin: 0px;
  padding-top: 90px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 45px;
}

#wrap-4 #main {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 250px;
  height: 280px;
}

#wrap-4 #email {
  position: absolute;
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

#wrap-4 #email #env-wrap {
  padding: 25px;
  width: 70px;
  height: 70px;
  margin: 15px auto;
  border-radius: 100%;
  background-color: rgba(200,236,180, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#wrap-4 #email h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  margin-top: 35px;
  color: rgba(255,255,255,0.5);
  border-bottom: 1.5px solid rgba(200,236,180, 0.2);
  padding-bottom: 8px;
  width: 193px;
}

#env-wrap i {
  font-size: 45px;
  line-height: 70px;
  color: rgba(0,0,0,0.8);
}

#main #social-links {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

#social-links a {
  color: rgba(255,255,255,0.5);
  margin: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

footer {
  position: absolute;
  bottom: 8px;
  width: 100%;
  color: rgba(255,255,255,0.4);
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

/*accessories*/
.highlight {
  background-color: rgba(212,238,94, 0.09);
  padding: 0px 2px;
}

#toronto, #dog, #learn {
  text-decoration: underline;
  color: rgba(255,255,255,0.7);
}

/*responsives*/
@media only screen and (min-width: 321px) and (max-width: 600px) {
    /* Larger mobile styles (wider than 320 pixels) */
    #home {
      background-position: 0px;
    }

    nav button {
      margin: 20px 20px;
    }

    #name, #name-intro {
      top: -100px;
    }

    .mob-only {
      display: block !important;
    }
    #logo-wrap {
      margin-top: 14px;
    }

    #home .down, #home .up {
      margin-right: -20px;
    }
}

@media only screen and (min-width: 600px) {
    /* Tablet styles (wider than 600 pixels) */
}
